<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-top">
      <ul class="footer-icons-list">
        <li class="footer-icons-item">
          <svg width="200" height="50" class="footer-cyberpunk-icon">
            <use href="/public/icons.svg#icon-logo"></use>
          </svg>
        </li>
        <li class="footer-icons-item">
          <svg width="116" height="50" class="footer-cdprodg-icon">
            <use href="/public/icons.svg#icon-cd-prodg"></use>
          </svg>
        </li>
      </ul>
      <ul class="footer-polici-list">
        <li class="footer-polici-item">
          <a target="_blank" href="#" class="footer-polici-link">Лицензия</a>
        </li>
        <li class="footer-polici-item">
          <a target="_blank" href="#" class="footer-polici-link"
            >Политика конфиденциальности</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content-bottom">
      <p class="footer-title">CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</p>
    </div>
  </div>
</footer>
