<header class="header">
  <div class="header-container">
    <nav class="nav">
      <a href="#" rel="noopener noreferrer">
        <svg class="logo" width="200" height="50">
          <use href="/public/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul>
        <li>
          <svg class="logo" width="25" height="25">
            <use href="/public/icons.svg#icon-youtube"></use>
          </svg>
        </li>
        <li>
          <svg class="logo" width="25" height="25">
            <use href="/public/icons.svg#icon-facebook"></use>
          </svg>
        </li>
        <li>
          <svg class="logo" width="25" height="25">
            <use href="/public/icons.svg#icon-twitch"></use>
          </svg>
        </li>
        <li>
          <svg class="logo" width="25" height="25">
            <use href="/public/icons.svg#icon-twitter"></use>
          </svg>
        </li>
        <li>
          <svg class="logo" width="25" height="25">
            <use href="/public/icons.svg#icon-instagram"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</header>
