<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="#" rel="noopener noreferrer">
        <svg class="logo" width="200" height="50">
          <use href="/public/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-links">
        <li>
          <a target="_blank" class="header-link">
            <svg class="logo" width="30" height="30">
              <use href="/public/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" class="header-link">
            <svg class="logo" width="30" height="30">
              <use href="/public/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" class="header-link">
            <svg class="logo" width="30" height="30">
              <use href="/public/icons.svg#icon-twitch"></use>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" class="header-link">
            <svg class="logo" width="30" height="30">
              <use href="/public/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" class="header-link">
            <svg class="logo" width="30" height="30">
              <use href="/public/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
