<section class="immersion">
  <div class="container">
    <div class="immersion-content">
      <div class="immersion-media">
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="/src/img/monitor-desc.png"
          />
          <source
            media="(min-width: 1024px)"
            srcset="/src/img/monitor-pad.png"
          />
          <img class="immersion-img" src="/src/img/monitor.png" alt="" />
        </picture>
        <ul class="immersion-media-icons">
          <li>
            <svg width="44" height="44" class="immersion-hp-icon">
              <use href="/public/icons.svg#icon-hp-logo"></use>
            </svg>
          </li>
          <li><span class="immersion-media-cross"> </span></li>
          <li>
            <svg width="175" height="44" class="immersion-cyberpunk-icon">
              <use href="/public/icons.svg#icon-logo"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="immersion-info">
        <h2 class="immersion-title">Полное погружение вместе с HP</h2>
        <p class="immersion-descr">
          Погрузись в современные экшен-игры с реалистичным изображением с
          помощью монитора с диагональю 23,8 дюйма, созданном для отображения
          максимально насыщенных цветов. Успевай реагировать на любые события с
          временем отклика 1 мс и частотой в 144 Гц!
        </p>
        <ul class="immersion-benefits">
          <li class="immersion-benefits-item">
            <svg class="immersion-benefits-icon" width="24" height="24">
              <use href="/public/icons.svg#icon-palette"></use>
            </svg>
            Яркие насыщенные цвета
          </li>
          <li class="immersion-benefits-item">
            <svg class="immersion-benefits-icon" width="24" height="24">
              <use href="/public/icons.svg#icon-crystal"></use>
            </svg>
            Кристальная четкость изображения
          </li>
          <li class="immersion-benefits-item">
            <svg class="immersion-benefits-icon" width="24" height="24">
              <use href="/public/icons.svg#icon-motion"></use>
            </svg>
            Быстрые движения и плавный геймплей
          </li>
        </ul>
        <button type="button" class="immersion-btn-more hrefBtn">
          Подробнее
        </button>
      </div>
    </div>
  </div>
</section>
