<section class="overview">
  <div class="container">
    <div class="overview-content">
      <div class="overview-img">
        <picture>
          <source
            media="(min-width:1400px)"
            srcset="/src/img/overview-desc-img.jpg"
          />
          <source
            media="(min-width:1024px)"
            srcset="/src/img/overview-pad-img.jpg"
          />
          <img class="about-img" src="/src/img/overview-mob-img.jpg" alt="" />
        </picture>
      </div>
      <div class="overview-info">
        <h2 class="overview-title">
          Купить игру <br />
          Cyberpunk 2077
        </h2>
        <div class="overview-set">
          <h3 class="overview-set-title">В комплект входит:</h3>
          <ul class="overview-set-list">
            <li class="overview-set-item">
              <svg class="overview-set-icon" width="24" height="24">
                <use href="/public/icons.svg#icon-disk"></use>
              </svg>
              Футляр с игровыми дисками
            </li>
            <li class="overview-set-item">
              <svg class="overview-set-icon" width="24" height="24">
                <use href="/public/icons.svg#icon-case"></use>
              </svg>
              Футляр с кодом для загрузки игры и дисками (pc)
            </li>
            <li class="overview-set-item">
              <svg class="overview-set-icon" width="24" height="24">
                <use href="/public/icons.svg#icon-directory"></use>
              </svg>
              Справочник с информацией об игровом мире
            </li>
          </ul>
        </div>
        <div class="overview-platform">
          <h3 class="overview-platform-title">Выберите платформу:</h3>
          <ul class="overview-platform-list">
            <li class="overview-platform-item">
              <svg class="overview-platform-icon" width="62" height="35">
                <use href="/public/icons.svg#icon-pc"></use>
              </svg>
            </li>
            <li class="overview-platform-item">
              <svg class="overview-platform-icon" width="178" height="35">
                <use href="/public/icons.svg#icon-xbox-one"></use>
              </svg>
            </li>
            <li class="overview-platform-item">
              <svg class="overview-platform-icon" width="58" height="51">
                <use href="/public/icons.svg#icon-stadia-logo"></use>
              </svg>
            </li>
            <li class="overview-platform-item">
              <svg class="overview-platform-icon" width="168" height="36">
                <use href="/public/icons.svg#icon-ps4"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
