<section class="promo">
  <div class="container">
    <div class="promo-content">
      <!-- <picture>
        <source />
        <source />
        <img
          class="promo-decor-top"
          src="/src/img/promo-decor-top.png"
          alt=""
        />
      </picture> -->
      <div class="promo-images">
        <svg class="promo-promotion" width="62" height="62">
          <use href="/public/icons.svg#icon-promotion"></use>
        </svg>
        <img src="/src/img/x-box.png" alt="x-box" />
        <img src="/src/img/ps5.png" alt="ps5" />
      </div>
      <h2 class="promo-title">Играй и выигрывай!</h2>
      <p class="promo-descr">
        Играй в <span class="accent">Cyberpunk 2077</span> и получи возможность
        выиграть консоль <span class="accent">Xbox Series X</span> или
        <span class="accent">Sony PlayStation 5!</span> Заполни форму ниже и
        приложи скриншот о покупке игры. Итоги розыгрыша будут подведены
        1 февраля. Удачи! ;)
      </p>
    </div>

    <!-- <picture>
      <source />
      <source />
      <img
        class="promo-decor-bottom"
        src="/src/img/promo-decor-bottom.png"
        alt=""
      />
    </picture> -->
  </div>
</section>
