@import url('./fonts.css');
@import url('./base.css');
/* Header */
.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
.header-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.header-link {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .header-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-links {
    gap: 40px;
  }
}
/* /Header */

/* hero */
.hero-container {
  background-image: url(/src/img/hero-bg-mob.jpg);
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100% 93%;
  width: 100%;
  height: 766px;
  position: relative;
}
.hero-content {
  padding: 30px 38px;
  background-color: #f8f200;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  clip-path: polygon(
    50px 0%,
    100% 0%,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    0% 100%,
    0% 50px
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero-title {
  font-size: 30px;
  color: #000;
}
.hero-btn {
  background: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  color: #f8f200;
  padding: 10px 50px;
  margin-top: 25px;
  cursor: pointer;
}
/* /hero */

/* about */
.about {
  padding-top: 70px;
}
.about-title {
  font-size: 30px;
  color: #000;
}
.about-descr {
  font-weight: 400;
  color: #777;
  font-size: 16px;
  line-height: 2;
  margin-top: 25px;
}
.accent {
  color: #52bedc;
  font-weight: 700;
}
.about-media {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  margin-top: 70px;
}
.about-container {
  padding: 0;
}
.about-info {
  padding: 0 12px;
}
.about-img {
  width: 100%;
}
/* /about */

/* promo */
.promo {
  background-color: #000;
  margin-top: 140px;
  padding-top: 55px;
  padding-bottom: 70px;
}
.promo-content {
  position: relative;
}
.promo-decor-top,
.promo-decor-bottom {
  position: absolute;
  width: 100%;
}
.promo-decor-top {
  top: -69px;
  left: 0;
}
.promo-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.promo-title {
  font-size: 30px;
  color: #fff;
  margin-top: 25px;
}
.promo-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #fff;
}
.promo-promotion {
  position: absolute;
  top: -50px;
  left: 0;
}
.promo-form {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.form-input {
  background-color: transparent;
  border-bottom: 1px solid #777;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  padding-bottom: 13px;
}

.form-input:hover,
.form-input:focus {
  border-color: #f8f200;
}
.promo-submit {
  background: #f8f200;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  padding: 20px 50px;
}
.promo-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.promo-sheck-txt {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}
.input-check-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-mark {
  border: 1px solid #777;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.check-mark-icon {
  stroke: transparent;
}
.input-check:checked + .promo-check .check-mark-icon {
  stroke: #f8f200;
}
/* /promo */

/* immersion */

.immersion {
  background: #f8f200;
  padding: 70px 0;
}
.immersion-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.immersion-img {
  margin: 0 auto;
}
.immersion-media-cross {
  position: relative;
  /* display: block; */
  width: 50px;
}
.immersion-media-cross::after,
.immersion-media-cross::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 50px;
  background-color: #000;
}
.immersion-media-cross::after {
  transform: rotate(15deg);
}
.immersion-media-cross::before {
  transform: rotate(-15deg);
}
.immersion-title {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  margin-top: 40px;
}
.immersion-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #000;
  margin-top: 25px;
}
.immersion-benefits {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.immersion-benefits-item {
  display: flex;
  align-items: center;
}
.immersion-benefits-icon {
  margin-right: 18px;
  flex-shrink: 0;
}
.immersion-btn-more {
  padding: 20px 50px;
  background: #000;
  font-weight: 700;
  font-size: 16px;
  color: #f8f200;
  margin-top: 40px;
}
/* /immersion */

/* overview */
.overview {
  background-color: #000;
  padding-bottom: 70px;
}
.overview .container {
  padding: 0;
}
.overview-title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  margin-top: 40px;
}
.overview-set {
  margin-top: 25px;
}
.overview-set-title,
.overview-platform-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #52bedc;
}
.overview-set-item {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
}
.overview-set-icon {
  fill: #f8f200;
  flex-shrink: 0;
  margin-right: 18px;
}
.overview-set-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.overview-platform {
  margin-top: 40px;
}

.overview-platform-icon {
  fill: #fbf503;
}
.overview-platform-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 25px;
}
.overview-platform-item {
  display: flex;
  align-items: center;
}
/* /overview */
